{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="container" style="max-width:700">
    <div class="card shadow-sm" style="margin-top: 20px">
        <div class="card-header">
            <h6 style="margin-bottom: 0; margin-top: 7; display: inline-block">
                <a href="/" class="text-success">EasyLearn QA forum
                    {% if not current_user.is_authenticated %}
                    
                    <span class="site-title-second-half"> -Tech space for the enthusiasts</span>
                    {% endif %}
                </a>
            </h6>
            
        </div>
        <div class="pb-2 pt-1 pr-2 pl-2">
            <div class="container pt-3">
                <form action="" method="post">
                    <legend>SIGN UP NOW</legend>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-block btn-primary" type="submit">Sign Up</button>
                </form>
        
                <div class="mt-4">
                    <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}