

<!-- Modal Delete Tasklist-->
  <div class="modal fade" id="exampleModalCenter{{ obj.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <b>{{ obj.title }}</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'task_delete' obj.id %}" type="button" class="btn btn-sm btn-danger">Confirm</a>
        </div>
      </div>
    </div>
  </div>