{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container" style="max-width:700">
    <div class="card shadow-sm" style="margin-top: 20px">
        <div class="card-header">
            <h6 style="margin-bottom: 0; margin-top: 7; display: inline-block">
                <a href="{% url 'blog_list' %}" class="text-success">EasyLearn QA forum
                    {% if not current_user.is_authenticated %}
                    
                    <span class="site-title-second-half"> -Blog space for the enthusiasts</span>
                    {% endif %}
                </a>
            </h6>
            
        </div>
        <div class="pb-2 pt-4 pr-4 pl-4">
            <form action="" method="post">
                <legend>Update Blog</legend>
                {% csrf_token %}
                {{ form|crispy }}
                <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">cancel</a>
                <button class="btn btn-outline-primary" type="submit">update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}