{% extends "base.html" %}
{% block content %}


<div class="container" style="max-width:700">
    <div class="card shadow-sm" style="margin-top: 20px">
        <div class="card-header">
            <h6 style="margin-bottom: 0; margin-top: 7; display: inline-block">
                <a href="/" class="text-success">EasyLearn QA forum
                    {% if not current_user.is_authenticated %}
                    
                    <span class="site-title-second-half"> -Tech space for the enthusiasts</span>
                    {% endif %}
                </a>
            </h6>
            
        </div>
        <div class="pb-2 pt-4 pr-4 pl-4">
            {% for question in page_obj %}
            <p>
                <a href="/question/{{question.id}}">{{ question.title }} <span class="text-secondary num-answers">({{ question.num_answers }} comments)</span></a>
            </p>
        {% endfor %}
        <div class="pagination" style="margin-bottom: 3; margin-top: 10">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
                {% endif %}

                <span class="current text-secondary">
                    page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
</div>


{% endblock %}