{% extends "base.html" %}

{% block content %}

<div class="container" style="max-width:700">
    <div class="card shadow-sm" style="margin-top: 20px">
        <div class="card-header">
            <h6 style="margin-bottom: 0; margin-top: 7; display: inline-block">
                <a href="/" class="text-success">EasyLearn QA forum
                    {% if not current_user.is_authenticated %}
                    
                    <span class="site-title-second-half"> -Tech space for the enthusiasts</span>
                    {% endif %}
                </a>
            </h6>
            
        </div>
        <div class="pb-2 pt-4 pr-4 pl-4">

            <h5 class="text-success">Top Contributors:</h5>
            <div style="margin-bottom: 15; margin-left: 10;">
                {% for leader in leaders %}
                    <div class="text-dark">{{leader.username}} - {{leader.points}} points</div>
                {% endfor %}
            </div>


            
        </div>
    </div>
</div>
{% endblock %}